.container-footer.container-footer.container-footer {
  background-color: #d7f5e9;
}
.details-container.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  margin: 20px 0px;
}
.icon-container {
  display: flex;
}
.icon-social-media {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.image-container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-image {
  height: 60%;
}
.grid-contact-details.grid-contact-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-details-container.contact-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-item.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.payment {
  width: 50%;
}
