.dashboard_menu {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}
.container-products.container-products {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}
.toolBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
  min-height: 64px;
}
