.containerLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://wallpaperaccess.com/full/1245044.jpg");
  background-size: cover;
  /* background-position: center; */
}
.input {
  margin-top: 10px;
}
.inputForm {
  width: 200px;
}
.form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
}
.smallContainer {
  flex: 4;
}
.grid {
  padding: 15px;
  margin: 10px 0px;
  width: 10px;
}
.button {
  margin-top: 40px;
  margin-bottom: 30px;
}
