.card-content.card-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  height: fit-content;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 24px;
  box-shadow: 0px -3px 4px 0px rgba(107, 126, 190, 4%),
    0px 8px 16px 0px rgba(107, 126, 190, 16%);
}
.container-card-header {
  display: flex;
  justify-content: space-between;
}
.container-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-bottom: 23px;
}
.text-price {
  font-size: 24px;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
}
.card-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.MuiCardActions-root {
  display: flex;
  justify-content: space-between;
}
.MuiButtonBase-root {
  font-size: 14px;
}
.Mui-selected {
  font-weight: bolder;
}
.MuiCardHeader-title {
  color: #393939;
}
.MuiCardContent-root p {
  font-size: 12px;
  color: #869099;
  line-height: 24px;
}
.request-mentoring-button.request-mentoring-button {
  border-radius: 8px;
  background-color: #041536;
  padding: 8px 16px;
  box-shadow: none;
  color: white;
  padding: 8px 16px;
}
.request-mentoring-button.request-mentoring-button:hover {
  background-color: #041536;
  color: white;
}
.favourite-icon-added {
  color: red;
}
