.container-category-item {
  flex: 1;
  margin: 3px;
  height: 70vh;
  position: relative;
}
.image-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-container {
  color: white;
  margin-bottom: 20px;
}
